* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: cornsilk;
}
.container {
    background-color: coral;
    border: 1px solid red;
}

#inputCity {
    margin: 40px;
    font-size: 25px;
    padding: 15px;
}

#btn {
    border: none;
    margin: 15px;
    font-size: 25px;
    padding: 18px;
    background-color: white;
}

.weather {
    color: white;
}

.weather .icon {
    text-align: center;
}

.weather .weatherArea {
    font-size: 35px;
    text-align: center;
}

.weather .temperature {
    font-size: 35px;
    text-align: center;
    margin-top: 18px;
}

.weather .description {
    font-size: 25px;
    margin: 15px 0;
    text-align: center;
}